# remove modules folder
node_modules

# hid env file
.env

# other files for reference
_ref

*.css
*.map

src/acf_config/group_5e337c6f1ba65.json

src/acf_config/group_61c32b183d5bc.json

src/acf_config/group_61c32b32d2668.json

src/acf_config/group_6684420e8de44.json

src/acf_config/group_6684762bf156d.json

src/acf_config/group_668496f5d2602.json

src/acf_config/group_66858d4b30de2.json

src/acf_config/group_6685a4abf1c43.json

src/acf_config/group_6685abe9e5317.json

src/acf_config/group_6686953eadd31.json

src/acf_config/group_66873ac409d1b.json
