.about{
    padding: 0px 40px;
    background: linear-gradient(180deg, var(--black) 0%, var(--green) 0.1%, var(--green) 58.9%, var(--black) 59%, var(--white) 59.1%, var(--white) 100%);

    @include responsive(sm){
        padding: 0 20px;
    }

    .container{
        max-width: 1400px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        justify-content: space-between;

        @include responsive(md){
            padding: 70px 0;
        }
        @include responsive(sm){
            padding: 50px 0;
            flex-wrap: wrap;
        }
        @include responsive(xs){
            padding: 20px 0;
        }

        .image-text-column{
            display: flex;
            flex-direction: column;
            width: 55%;

            @include responsive(sm){
                width: 100%;
            }

            .heading{
                margin-bottom: 30px;
                font-family: 'Neue-Black';
                font-size: 48px;
                font-weight: 700;
                color: var(--black);
                
                @include responsive(lg){
                    font-size: 44px;
                }
                @include responsive(md){
                    font-size: 40px;       
                }
                @include responsive(sm){
                    font-size: 36px;       
                    text-align: center;  
                    margin-bottom: 20px;     
                }
                @include responsive(xs){
                    font-size: 32px;
                }
            }

            .image-wrap{
                width: 100%;

                img{
                    width: 100%;
                    border: 2px solid var(--black);
                }
            }
        }
        .content-column{
            display: flex;
            width: 45%;
            flex-direction: column;
            padding-left: 100px;

            @include responsive(lg){
                padding-left: 75px;
            }
            @include responsive(md){
                padding-left: 50px;
            }
            @include responsive(sm){
                // padding-left: 30px;
                padding-left: 0;
                width: 100%;
            }

            .description{
                background: var(--white);
                padding: 30px 20px;
                border: 2px solid var(--black);
                
                @include responsive(md){
                    padding: 15px 10px;
                }
                
                p{
                    color: var(--black);
                    margin-bottom: 20px;
                    font-family: 'Mukta';
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 120%;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    @include responsive(lg){
                        font-size: 24px;
                    }
                    @include responsive(md){
                        font-size: 20px;   
                    }
                    @include responsive(sm){
                        font-size: 18px;   
                    }
                    @include responsive(xs){
                        font-size: 16px;   
                    }
                }
            }
            .button-wrap{
                margin-top: 30px;
                margin-left: 20px;
                display: flex;

                @include responsive(sm){
                    margin: 20px auto 0;
                }

                a{
                    color: var(--black);
                    font-family: 'Neue-Bold';
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 15px 30px;
                    color: var(--black);
                    border: 2px solid var(--black);
                    background-color: var(--green);
                    max-width: fit-content;
                    transition: all 0.4s ease;

                    &:hover{
                        background: var(--white);
                    }
                    @include responsive(md){
                        font-size: 20px;
                    }
                    @include responsive(sm){
                        font-size: 16px;
                        padding: 10px 20px;
                    }
                    @include responsive(xs){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}