.articles-archive {
    padding: 50px 40px;
    background-color: var(--white);
    border-top: 2px solid var(--black);
    position: relative;

    @include responsive(sm) {
        padding: 50px 20px;
    }

    .inner {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: var(--black);

        .heading-wrap {
            margin-bottom: 20px;

            .heading {
                font-family: "Neue-Black";
                font-size: 68px;
                font-weight: 700;
                line-height: 110%;
                margin-bottom: 20px;
                a{
                    color: var(--black);
                    display: inline;
                }
                @include responsive(xl) {
                    font-size: 60px;
                }

                @include responsive(lg) {
                    font-size: 56px;
                }

                @include responsive(md) {
                    font-size: 52px;
                }

                @include responsive(xs) {
                    font-size: 48px;
                }
                span{
                    position: relative;
                    z-index: 1;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 50%;
                        background-color: var(--green);
                        bottom: 0;
                        line-height: 100%;
                        z-index: -1;
                    }
                }
            }
        }

        .main-wrapper {
            display: flex;
            gap: 50px;
            position: relative;

            .sidebar {
                min-width: 300px;
                transition: all 0.4s ease-in-out;
                padding-bottom: 100px;
                
                &.active{
                    left: 0;
                }
                
                @include responsive(md){
                    min-width: 250px;
                }
                @include responsive(sm){
                    min-width: 200px;
                }
                @include responsive(xs){
                    background-color: var(--white);
                    padding: 100px 20px 0;
                    position: fixed;
                    top: 0;
                    left: -70%;
                    z-index: 2;
                    height: 100vh;
                    width: 70%;
                    border-right: 2px solid var(--black);
                }

                .icons{
                    position: absolute;
                    left: 100%;
                    top: 100px;
                    
                    .search-icon-wrapper{
                        z-index: 99;
                        cursor: pointer;
                        background-color: var(--green);
                        display: none;
                        width: 50px;
                        position: fixed;
                        height: 50px;
                        top: 11%;
                        left: 0;
                        border: 2px solid var(--black);
                        transition: all 0.4s ease-in-out;
                        position: relative;
        
                        .search-button{
                            width: 100%;
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            height: auto;
                        }
                        .cross-button{
                            display: none;
                            width: 100%;
                            height: auto;
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
        
                        @include responsive(xs){
                            display: block;
                        }
                    }
                }

                padding-bottom: 100px;
                .search{
                    position: relative;
                    .search-icon{
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: 6px;
                        left: 2px;
                    }
                }
                .searchandfilter{
                    ul{
                        width: 100%;
                        list-style: none;
                        margin-bottom: 14px;

                        li{
                            padding: 0;
                            width: 100%;
                            input[name="ofsearch"]{
                                width: 100%;
                                border: 2px solid var(--black);
                                padding: 10px;
                                background: transparent;
                                padding-left: 40px;
                                font-size: 24px;
                                color: var(--black);
                                font-family: "Neue-Bold";
                                &::placeholder{
                                    color: var(--black);
                                }
                            }
                        }
                    }
                    input[type="submit"]{
                        display: none;
                    }
                }
                .categories {
                    .category {
                        font-size: 24px;
                        font-family: 'Mukta';
                        margin-bottom: 16px;
                        color: var(--black);
                        width: max-content;
                        line-height: 100%;
                        &.active{
                            position: relative;
                            z-index: 1;
                            &::before{
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 50%;
                                background-color: var(--green);
                                bottom: 0;
                                line-height: 100%;
                                z-index: -1;
                            }
                        }
                        @include responsive(md) {
                            font-size: 22px;
                        }
                    }
                }
            }

            .main {
                width: 100%;

                .featured {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;

                    .featured-heading {
                        width: max-content;
                        position: relative;
                        z-index: 1;
                        color: var(--black);
                        font-family: 'Neue-Black';
                        font-size: 36px;
                        font-weight: 700;
                        margin-bottom: 20px;

                        @include responsive(lg) {
                            font-size: 32px;
                        }

                        @include responsive(md) {
                            font-size: 28px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 35%;
                            background: var(--green);
                            z-index: -1;
                            top: 55%;
                        }
                        
                    }

                    .featured-articles {
                        display: flex;
                        flex-wrap: wrap;

                        .featured-articles-article {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin-bottom: 40px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .image-wrap {
                                width: 100%;
                                margin-bottom: 20px;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            .title {
                                font-family: "Neue-Black";
                                font-size: 64px;
                                font-weight: 700;
                                line-height: 110%;
                                margin-bottom: 20px;
                                color: var(--black);

                                @include responsive(xl) {
                                    font-size: 60px;
                                }

                                @include responsive(lg) {
                                    font-size: 56px;
                                }

                                @include responsive(md) {
                                    font-size: 52px;
                                }

                                @include responsive(xs) {
                                    font-size: 48px;
                                }
                            }

                            .short-description {
                                margin-bottom: 20px;
                                font-family: 'Mukta';
                                color: var(--black);
                                font-size: 28px;
                                font-weight: 300;
                                line-height: 120%;

                                @include responsive(lg) {
                                    font-size: 24px;
                                }

                                @include responsive(md) {
                                    font-size: 20px;
                                }

                                @include responsive(sm) {
                                    font-size: 18px;
                                }
                            }

                            .read-more {
                                font-family: 'Neue-Bold';
                                font-size: 24px;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: var(--black);
                                padding: 15px 30px;
                                border: 2px solid var(--black);
                                background: var(--green);
                                max-width: fit-content;
                                transition: all 0.4s ease;

                                &:hover {
                                    background: var(--white);
                                }

                                @include responsive(md) {
                                    font-size: 20px;
                                }

                                @include responsive(sm) {
                                    font-size: 18px;
                                    padding: 10px 20px;
                                }

                                @include responsive(xs) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .all-articles-wrap {
                    display: flex;
                    flex-direction: column;

                    .all-heading {
                        width: max-content;
                        position: relative;
                        z-index: 1;
                        color: var(--black);
                        font-family: 'Neue-Black';
                        font-size: 36px;
                        font-weight: 700;
                        margin-bottom: 20px;

                        &::before {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 35%;
                            background: var(--green);
                            z-index: -1;
                            top: 55%;

                        }

                        @include responsive(lg) {
                            font-size: 32px;
                        }

                        @include responsive(md) {
                            font-size: 28px;
                        }
                    }

                    .all-articles {
                        display: flex;
                        gap: 45px;
                        flex-wrap: wrap;
                        margin-bottom: 45px;

                        .all-articles-article {
                            width: calc(33.3% - 30px);

                            @include responsive(md){
                                width: calc(50% - 30px);
                            }
                            @include responsive(sm){
                                width: 100%;
                            }

                            .image-wrap {
                                width: 100%;
                                margin-bottom: 10px;

                                img {
                                    width: 100%;
                                    aspect-ratio: 1.4;
                                    object-fit: cover;
                                    height: auto;
                                }
                            }

                            .categories-assigned {
                                display: flex;
                                gap: 10px;
                                margin-bottom: 5px;

                                .category-tag {
                                    color: var(--black);
                                    font-family: 'Mukta';
                                    font-size: 16px;
                                    position: relative;
                                    line-height: 100%;
                                    font-weight: 600;
                                    z-index: 1;
                                    &::before{
                                        position: absolute;
                                        z-index: -1;
                                        content: "";
                                        width: 100%;
                                        bottom: 0;
                                        height: 50%;
                                        background-color: var(--green);
                                    }
                                }
                            }

                            .title {
                                color: var(--black) !important;
                                font-family: 'Neue-Black';
                                font-size: 32px;
                                font-weight: 700;
                                margin-bottom: 8px;

                                @include responsive(md){
                                    font-size: 28px;
                                }
                                @include responsive(sm){
                                    font-size: 24px;
                                }
                            }

                            .short-description {
                                font-family: 'Mukta';
                                font-size: 22px;
                                font-weight: 300;
                                line-height: 120%;
                                color: var(--black);

                                @include responsive(md) {
                                    font-size: 20px;
                                }

                                @include responsive(sm) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .button-wrap {
                    display: flex;
                    margin-top: 50px;
                    justify-content: center;

                    #loadMoreReviews {
                        text-align: center;
                        background-color: var(--green);
                        width: max-content;
                        cursor: pointer;
                        padding: 15px 30px;
                        border: 2px solid var(--black);
                        color: var(--black);
                        font-family: 'Neue-Bold';
                        text-transform: uppercase;
                        font-size: 24px;

                        &.disabled {
                            display: none;
                        }

                        &.loading {
                            position: relative;
                            color: var(--green);
                            &:before {
                                position: absolute;
                                content: "";
                                width: 40px;
                                height: 40px;
                                border: 3px solid var(--black);
                                border-bottom-color: transparent;
                                border-radius: 50%;
                                display: inline-block;
                                left: calc(50% - 20px);
                                top: calc(50% - 20px);
                                box-sizing: border-box;
                                animation: rotation 1s linear infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}