.banner{
    position: relative;
    border-bottom: 2px solid var(--black);
    
    .inner{
        height: 75vh;
        max-width: 2560px;
        margin: 0 auto;
        padding: 0 40px;
        position: relative;
        color: var(--black);
        overflow: hidden;
        @include responsive(sm){
            padding: 0 20px;
            height: 80vh;
        }
        @include responsive(xs){
            height: 100vh;
        }
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            background-image: linear-gradient(to left, var(--white) 40%, transparent);
            @include responsive(md){
                background-image: linear-gradient(to left, var(--white) 20%, transparent);
                padding: 0 20px;           
            }
            @media(max-height: 800px){
                background-image: linear-gradient(to left, var(--white) 50%, transparent);
            } 
            @include responsive(sm){
                background-image: linear-gradient(to top, var(--white) 12%, transparent);
            }
            @include responsive(xs){
                padding: 0 10px;
            }
        }
    
        .background{
            height: 100%;
            position: absolute;
            inset: 0;
            object-position: center center;
            object-fit: fill;
    
            @include responsive(xl){
                object-position: -150px center; 
            }
            @include responsive(lg){
                object-position: -200px center;            
            }
            @include responsive(md){
                object-position: -320px center;            
            }
            @include responsive(sm){
                object-position: -200px center;
                height: 72vh;  
            }
            @include responsive(xs){
                object-position: -360px center;   
                height: 90vh;         
            }
        }
    
        .container{
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            height: 100%;
            position: relative;
            z-index: 2;
    
            .content-wrap{
                width: 60%;
                margin-bottom: 50px;
                @include responsive(sm){
                    width: 100%;
                    margin-bottom: 40px;
                }
    
                .heading{
                    font-family: 'Neue-Black';
                    font-size: 68px;
                    font-weight: 700;
                    line-height: 110%;
                    margin-bottom: 20px;
    
                    @include responsive(xl){
                        font-size: 64px;
                    }
                    @include responsive(lg){
                        font-size: 52px;
                    }
                    @include responsive(md){
                        font-size: 48px;   
                    }
                    @include responsive(sm){
                        font-size: 46px;
                    }
                    @include responsive(xs){
                        font-size: 42px;
                    }
    
                    .shade{
                        position: relative;
                        z-index: 1;
    
                        &::before{
                            content: "";
                            position: absolute;
                            display: block;
                            width: 90%;
                            height: 30%;
                            background: var(--green);
                            z-index: -1;
                            top: 60%;
                            left: -2%;
                            
                        }
                    }
                }
                .description{
                    font-family: 'Neue-Thin';
                    font-size: 40px;
                    line-height: 110%;
                    margin-bottom: 30px;
    
                    @include responsive(xl){
                        font-size: 36px;
                    }
                    @include responsive(lg){
                        font-size: 28px;
                    }
                    @include responsive(md){
                        font-size: 26px;   
                    }
                    @include responsive(sm){
                        font-size: 24px;
                    }
                    @include responsive(xs){
                        font-size: 20px;
                    }
    
                    span{
                        font-family: 'Neue-Black';
                        font-weight: 700;
                    }
                }
                .button-wrap{
                    display: flex;
                    a{
                        font-family: 'Neue-Bold';
                        font-size: 24px;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 15px 30px;
                        color: var(--black);
                        border: 2px solid var(--black);
                        background: var(--green);
                        max-width: fit-content;
                        transition: all 0.4s ease;
    
                        &:hover{
                            background: var(--white);
                        }
                        @include responsive(md){
                            font-size: 20px;
                        }
                        @include responsive(sm){
                            font-size: 18px;
                            padding: 10px 20px;
                        }
                        @include responsive(xs){
                            font-size: 16px;
                        }
                    }
                }
            }
            .brands-wrap{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 60%;
                @include responsive(sm){
                    width: 100%;
                    // align-items: flex-start;
                }
                .brands-content{
                    padding-bottom: 100px;
                    @media (max-width:1920px){
                        padding-bottom: 40px;
                    }
                    @include responsive(lg){
                        padding-bottom: 30px;
                    }
                    .text-wrap{
                        margin-bottom: 20px;
                        @include responsive(sm){
                            margin-bottom: 15px;
                        }
                        .text{ 
                            font-family: 'Neue-Black';
                            font-size: 30px;
                            @include responsive(lg){
                                font-size: 26px;
                            }
                            @include responsive(md){
                                font-size: 22px;
                            }
                            @include responsive(xs){
                                font-size: 20px;
                            }
                        }
                    }
                    .images-wrap{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 20px;
                        @include responsive(lg){
                            gap: 15px;
                            justify-content: space-around;
                        }
                        @include responsive(xs){
                            gap: 10px;
                        }
                        .image-wrap{
                            width: 100px;
                            @include responsive(md){
                                width: 80px;
                            }
                            @include responsive(xs){
                                width: 60px;
                            }
                            img{
                                width: 100%;
                                &.invert{
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}