@font-face {
    font-family: 'Mukta';
    src: url(./includes/fonts/ek-mukta.regular.ttf);
}
@font-face {
    font-family: 'Neue-Med';
    src: url(./includes/fonts/HelveticaNeue-MediumCond.otf);
}
@font-face {
    font-family: 'Neue-Thin';
    src: url(./includes/fonts/HelveticaNeue-ThinCond.otf);
}
@font-face {
    font-family: 'Neue-Black';
    src: url(./includes/fonts/HelveticaNeueCondensedBlack.ttf);
}
@font-face {
    font-family: 'Neue-Bold';
    src: url(./includes/fonts/HelveticaNeueCondensedBold.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(./includes/fonts/Roboto-Regular.ttf);
}