footer{
    background-color: $lightBlack;
    .inner{
        max-width: 1440px;
        margin: 0 auto;
        padding: 50px 40px;
        display: flex;
        justify-content: center;
        .content{
            text-align: center;
            text-transform: uppercase;
            .copyright-and-name{
                margin-bottom: 20px;
                p{
                    color: #fff;
                    font-family: 'Neue-Med';
                    font-size: 20px;
                    font-weight: 700;
                    color: $white;
                    span{
                        padding: 0px 5px;
                    }
                    @include responsive(xs){
                        font-size: 18px;
                    }
                }
            }
            .links{
                .link{
                    display: inline-block;
                    text-decoration: none;
                    border-right: 1px solid;
                    border-color: $white;
                    font-family: 'Neue-Med';
                    font-size: 20px;
                    font-weight: 700;
                    color: $white;
                    padding-left: 20px;
                    padding-right: 20px;
                    transition: all 0.4s ease;
                    &:first-child{
                        padding-left: 0px;
                    }
                    &:last-child{
                        padding-right: 0px;
                        border-right: unset;
                    }
                    @include responsive(xs){
                        font-size: 18px;
                    }
                }
            }
        }
    }    
}