
* {
    outline:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub { 
    top: 0.4em; 
  }

html, body { 
  margin:0;
  padding:0;
  
    
  
}

a{
  display: block;
  text-decoration: none;
}

body {
  position:relative;
  background-color: var(--white);
  min-height: 100vh;
}

.mode{
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  background: var(--black);
  transition: 200ms ease-in-out;
  border-radius: 20px;
  .frame{
    margin: 4px;
    padding: 4px;
    background: var(--green);
    width: 60px;
    transition: 200ms ease-in-out;
    border-radius: 16px;
    .icon{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--black);
      transition: 200ms ease-in-out;
      position: relative;
      overflow: hidden;
      &::after{
        transition: 300ms ease-in-out;
        content: "";
        position: absolute;
        inset: 0;
        background: var(--green);
        border-radius: 50%;    
        transform: translate(100%, -100%);  
      }
    }
  }
  &.dark{
    .frame{
      .icon{
        transform: translateX(31px);

        &::after{
          transform: translate(5px, -5px);  
        }
      }
    }

  }
  // &:hover{
  //   background: transparentize($color: var(--black), $amount: 0.4);
  //   .frame{
  //     .icon{
  //       background: transparentize($color: var(--black), $amount: 0.4);
  //     }
  //   }
  // }
}


