
* {
    outline:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub { 
    top: 0.4em; 
  }

html, body { 
  margin:0;
  padding:0;
  
    
  
}

a{
  display: block;
  text-decoration: none;
}

body {
  position:relative;
}

.mode{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $black;
  border-radius: 20px;
  .frame{
    margin: 4px;
    padding: 4px;
    background-color: $white;
    width: 60px;
    border-radius: 16px;
    .icon{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $green
      ;
    }
  }
}


