.desktop-header {
  position: sticky;
  z-index: 101;
  inset: 0;
  padding: 0 40px;
  background-color: var(--white);
  border-bottom: 2px solid var(--black);
  &.scrolled{
    .container{
      padding: 20px 0;
    }
  }
  @include responsive(sm) {
    padding: 0 20px;
  }

  .container {
    max-width: 1400px;
    transition: 0.4s ease-in-out;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(sm){
      padding: 30px 0;
    }

    
    .logo-wrap {
      max-width: 200px;
      width: 100%;
      height: 78px;
      position: relative;
      // align-content: center;

      @include responsive(md) {
        max-width: 150px;
        height: 60px;
      }
      
      @include responsive(sm) {
        max-width: 100px;
        height: 40px;
      }
      
      .logo {
        width: 100%;
      }
      .dark-mode-logo {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .header-links {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;

      @include responsive(sm) {
        right: -100%;
        width: 100%;
        background-color: var(--white);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 100px;
        z-index: 101;
        padding-top: 100px;
      }

      .link {
        margin-right: 30px;
        font-family: "Neue-Bold";
        font-size: 24px;
        font-weight: 700;
        color: var(--black);
        border-bottom: 2px solid transparent;
        transition: all 0.4s ease;
        text-transform: uppercase;

        @include responsive(sm) {
          margin: 0;
          margin-bottom: 30px;
        }

        // &:last-child {
        //   margin-right: 0;
        //   padding: 15px 30px;
        //   border: 2px solid var(--green);

        //   &:hover {
        //     background-color: var(--green);
        //   }
        // }

        &:hover {
          border-bottom: 2px solid var(--green);
        }

        @include responsive(md) {
          font-size: 20px;
          margin-right: 15px;
        }
      }
      .header-button {
        display: flex;
        a{
          font-family: "Neue-Bold";
          font-size: 24px;
          font-weight: 700;
          color: var(--black);
          transition: all 0.4s ease;
          text-transform: uppercase;
          padding: 15px 30px;
          border: 2px solid var(--green);
  
          &:hover {
            background-color: var(--green);
          }
          @include responsive(md) {
            font-size: 20px;
          }
        }
      }
    }

    .active {
      transition: all 0.4s ease;
      @include responsive(sm) {
        right: 0;

        .link {
          margin-right: 20px;
          font-family: "Neue-Bold";
          font-size: 20px;
          font-weight: 700;
          color: var(--black);
          border-bottom: 2px solid transparent;
          transition: all 0.4s ease;
          text-transform: uppercase;

          @include responsive(sm) {
            margin: 0;
            margin-bottom: 30px;
          }

          &:hover {
            border-bottom: 2px solid var(--green);
          }
        }
      }
    }

    .menu-wrap {
      display: none;

      @include responsive(sm) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        height: 39px;
        width: 50px;
        padding: 10px;

        span {
          background-color: var(--black);
          width: 100%;
          height: 5px;
          transition: all 0.3s ease;
        }
      }
    }
    .cross {
      @include responsive(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        height: 40px;
        width: 50px;
        padding: 10px;

        span {
          background-color: var(--black);
          width: 100%;
          height: 5px;
          transition: all 0.3s ease;

          &:nth-child(1) {
            transform: rotate(45deg) translate(1px, 7px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(0px, -6px);
          }
        }
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}