header{
    padding: 0 40px;
    background-color: $white;

    .container{
        max-width: 1400px;
        padding: 40px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-wrap{
            max-width: 200px;

            .logo{
                width: 100%;
            }
        }
        .header-links{
            display: flex;
            justify-content: center;
            align-items: center;

            .link{
                margin-right: 20px;
                font-family: 'Neue-Bold';
                font-size: 20px;
                font-weight: 700;
                color: $black;
                border-bottom: 2px solid transparent;
                transition: all 0.4s ease;
                text-transform: uppercase;

                &:last-child{
                    margin-right: 0;
                    padding: 15px 30px;
                    border: 2px solid $green;

                    &:hover{
                        background-color: $green;
                    }
                }

                &:hover{
                    border-bottom: 2px solid $green;
                }
            }
        }
    }
}