.desktop-header {
  padding: 0 40px;
  background-color: var(--white);

  @include responsive(sm) {
    padding: 0 20px;
  }
  &.no-scroll {
    overflow: hidden;
  }

  .container {
    max-width: 1400px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-wrap {
      max-width: 200px;

      @include responsive(md) {
        max-width: 150px;
      }

      @include responsive(sm) {
        max-width: 100px;
      }

      .logo {
        width: 100%;
      }
    }

    .header-links {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;

      @include responsive(sm) {
        height: 100vh;
        position: fixed;
        right: -100%;
        top: 100px;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 100px;
      }

      .link {
        margin-right: 20px;
        font-family: "Neue-Bold";
        font-size: 20px;
        font-weight: 700;
        color: var(--black);
        border-bottom: 2px solid transparent;
        transition: all 0.4s ease;
        text-transform: uppercase;

        @include responsive(sm) {
          margin: 0;
          margin-bottom: 30px;
        }

        &:last-child {
          margin-right: 0;
          padding: 15px 30px;
          border: 2px solid var(--green);

          &:hover {
            background-color: var(--green);
          }
        }

        &:hover {
          border-bottom: 2px solid var(--green);
        }

        @include responsive(md) {
          font-size: 18px;
          margin-right: 15px;
        }
      }
    }

    .active {
        transition: all 0.4s ease;
      @include responsive(sm) {
        width: 100%;
        background-color: var(--white);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        right: 0;
        top: 100px;
        z-index: 99;
        padding-top: 100px;

        .link {
          margin-right: 20px;
          font-family: "Neue-Bold";
          font-size: 20px;
          font-weight: 700;
          color: var(--black);
          border-bottom: 2px solid transparent;
          transition: all 0.4s ease;
          text-transform: uppercase;

          @include responsive(sm) {
            margin: 0;
            margin-bottom: 30px;
          }

          &:last-child {
            margin-right: 0;
            padding: 15px 30px;
            border: 2px solid var(--green);

            &:hover {
              background-color: var(--green);
            }
          }

          &:hover {
            border-bottom: 2px solid var(--green);
          }
        }
      }
    }

    .menu-wrap {
      display: none;

      @include responsive(sm) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        height: 20px;
        width: 30px;

        span {
          background-color: var(--black);
          width: 100%;
          height: 5px;
          transition: all 0.3s ease;
        }
      }
    }
    .cross {
      @include responsive(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        height: 20px;
        width: 30px;

        span {
          background-color: var(--black);
          width: 100%;
          height: 5px;
          transition: all 0.3s ease;

          &:nth-child(1) {
            transform: rotate(45deg) translate(1px, 7px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(0px, -6px);
          }
        }
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}
