.problems{
    background-color: $white;
    padding: 80px 40px 40px 40px;
    .container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .inner{
            position: relative;
            width: 100%;
            .heading{
                font-size: 36px;
                margin-bottom: 50px;
                color: $black;
                font-family: 'Neue-Black';
                @include responsive(sm){
                    font-size: 30px;
                }
                @include responsive(xs){
                    font-size: 24px;
                    margin-bottom: 40px;
                }
            }
            .slider{
                cursor: grab;
                &:active{
                    cursor: grabbing;
                }
                &.swiper {
                    width: 100%;
                    max-width: 1440px;
                    margin: 0 auto;
                    @media (max-width: 1500px){
                        max-width: calc(100vw - 80px);
                    }
                }
                @include responsive(md){
                    margin: 0px;
                }
                .slider-wrapper{  //accordian
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    @include responsive(md){
                        display: block;
                        background-color: $white;
                    }
                    .slide{ //content-box
                        // width: calc(33.3% - 50px);
                        height: auto;
                        background-color: $white;
                        border: 2px solid $red;
                        user-select: none;
                        padding: 15px;
                        @include responsive(md){
                            margin-bottom: 20px;
                            width: unset;
                        }
                        &.active{
                            .problem-and-heading-wrap{
                                @include responsive(md){
                                    &::after{
                                        transform: translateY(-50%) rotate(90deg);
                                    }
                                }
                            }
                        }
                        .problem-and-heading-wrap{
                            user-select: none;
                            margin-bottom: 20px;
                            @include responsive(md){   
                                position: relative;
                                margin-bottom: 0px;
                                padding-right: 50px;
                                cursor: pointer;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    color: $black;
                                    top: 50%;
                                    right: 10px;
                                    transform: translateY(-50%);
                                    width: 30px;
                                    height: 3px;
                                    background-color: var(--black);
                                }
                                &::after{
                                    content: "";
                                    position: absolute;
                                    color: $black;
                                    transition: 300ms ease-in-out;
                                    top: 50%;
                                    right: 23px;
                                    transform: translateY(-50%);
                                    width: 3px;
                                    height: 30px;
                                    background-color: var(--black);
                                }
                            }
                            .problem-span-wrap{
                                margin-bottom: 10px;
                                
                                .problem-span{
                                    font-size: 20px;
                                    user-select: none;
                                    color: $black;
                                    font-family: 'Neue-Med';
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    position: relative;
                                    z-index: 1;
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        display: block;
                                        width: 102%;
                                        height: 40%;
                                        background-color: $red;
                                        z-index: -1;
                                        top: 45%;
                                        left: -1px;
                                    }
                                    @include responsive(sm){
                                        font-size: 18px;
                                    }
                                }
                            }
                            .heading-wrap{
                                .content-heading{
                                    font-size: 28px;
                                    user-select: none;
                                    color: $black;
                                    font-family: 'Neue-Black';
                                    text-transform: uppercase;
                                    @include responsive(sm){
                                        font-size: 26px;
                                    }
                                    @include responsive(xs){
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                        .content-wrap{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            font-family: 'Mukta';
                            font-size: 18px;
                            user-select: none;
                            color: $black;
                            font-weight: 600;
                            @include responsive(md){
                                display: none;
                            }
                        }
                    }
                }
            }
            .slider-arrow{
                position: absolute;
                top: 50%;
                width: 50px;
                transform: translateY(calc(-50% + 45px));
                z-index: 1;
                cursor: pointer;
                @include responsive(md){
                    display: none;
                }
                &.swiper-button-disabled{
                    cursor: default;
                    opacity: 0.5;
                }
                &.next{
                    left: 100%;
                }
                &.prev{
                    right: 100%;
                }
            }
        }
    }
}