.roadmap{
    padding: 50px 40px;
    background: var(--white);
    
    @include responsive(sm){
        padding: 30px 20px;       
    }

    .container{
        max-width: 1400px;
        margin: 0 auto;

        .top-wrap{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .heading{
                font-family: 'Neue-Black';
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 20px;
                color: var(--black);

                @include responsive(lg){
                    font-size: 45px;
                }
                @include responsive(md){
                    font-size: 40px;       
                }
                @include responsive(sm){
                    font-size: 35px;       
                }
                @include responsive(xs){
                    font-size: 30px;       
                }
            }
            .description{

                p{
                    font-family: 'Mukta';
                    font-size: 30px;
                    line-height: 110%;
                    margin-bottom: 30px;
                    color: var(--black);

                    &:last-child{
                        margin-bottom: 0;
                    }

                    @include responsive(lg){
                        font-size: 25px;
                    }
                    @include responsive(md){
                        font-size: 20px;   
                    }
                    @include responsive(sm){
                        font-size: 18px;   
                    }
                    @include responsive(xs){
                        font-size: 16px;   
                    }
                }
            }
        }
        .tenants-wrap{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include responsive(sm){
                align-items: center;
            }

            .tenant{
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                width: 80%;

                &:last-child{
                    margin-bottom: 0;
                }

                @include responsive(sm){
                    width: 100%;
                }

                .heading{
                    color: var(--black);
                    font-family: 'Neue-Black';
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 30px;
                    align-self: flex-end;
                    border-bottom: 1px solid var(--black);
                    position: relative;
                    z-index: 1;

                    &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 99%;
                        height: 40%;
                        background: var(--green);
                        z-index: -1;
                        top: 45%;
                    }

                    @include responsive(lg){
                        font-size: 35px;
                    }
                    @include responsive(md){
                        font-size: 30px;       
                    }
                    @include responsive(sm){
                        font-size: 25px;  
                        align-self: center;     
                    }
                    @include responsive(xs){
                        font-size: 20px;       
                    }
                }
                .description{
                    font-family: 'Mukta';
                    font-size: 25px;
                    line-height: 110%;
                    color: var(--black);

                    @include responsive(lg){
                        font-size: 20px;
                    }
                    @include responsive(md){
                        font-size: 18px;   
                    }
                    @include responsive(sm){
                        font-size: 16px;   
                    }
                    @include responsive(xs){
                        font-size: 14px;   
                    }
                }
            }
            // .triangle{
            //     width: 0;
            //     height: 0;
            //     border-left: 400px solid transparent;
            //     border-right: 400px solid transparent;
            //     border-bottom: 700px solid var(--green);
            //     background-image: linear-gradient(to bottom, var(--green) 40%, transparent) !important;
            //     position: absolute;
            //     bottom: 10px;
            //     left: -100px;
            //     z-index: -1;
            // }
        }
    }
}