.contact {
  padding: 40px;
  background: var(--white);
  border-top: 2px solid var(--black);

  @include responsive(sm) {
    padding: 40px 20px;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-wrap {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .heading {
        margin-bottom: 15px;
        font-family: "Neue-Black";
        font-size: 52px;
        font-weight: 700;
        color: var(--black);

        @include responsive(lg) {
          font-size: 48px;
        }
        @include responsive(md) {
          font-size: 44px;
        }
        @include responsive(sm) {
          font-size: 40px;
        }
        @include responsive(xs) {
          font-size: 36px;
        }
      }
      .description {
        color: var(--black);
        font-family: "Neue-Thin";
        font-size: 32px;
        font-weight: 300;
        line-height: 120%;

        @include responsive(md) {
          font-size: 28px;
        }
        // @include responsive(md){
        //     font-size: 24px;
        // }
        @include responsive(sm) {
          font-size: 24px;
        }
        @include responsive(xs) {
          font-size: 20px;
        }
      }
    }

    .form-wrap {

      .gform_wrapper {
        .gform_heading {
          .gform_title {
            display: none;
          }
        }
        form[method="post"] {
          padding: 50px 40px;
          background: var(--white);
          color: var(--black);

          @include responsive(sm) {
            padding: 30px 20px;
          }
          @include responsive(xs) {
            padding: 30px 10px;
          }

          .gform-body {
            .gform_fields {
              row-gap: 30px;
              .gfield {
                display: flex;
                align-items: center;

                .gform-field-label {
                  color: var(--black);
                  font-family: "Neue-Black";
                  font-size: 36px;
                  font-weight: 700;
                  margin-bottom: 10px;

                  @include responsive(lg) {
                    font-size: 32px;
                  }
                  @include responsive(md) {
                    font-size: 28px;
                  }
                  @include responsive(sm) {
                    font-size: 24px;
                  }
                  @include responsive(xs) {
                    font-size: 22px;
                    margin-bottom: 10px;
                  }
                }
                .ginput_container {
                  position: relative;
                  .input-highlighter{
                    width: max-content;
                    height: 16px;
                    bottom: 0;
                    position: absolute;
                    background-color: var(--green);
                    z-index: 0;
                    left: 17px;
                    bottom: 6px;
                    font-family: "Mukta";
                    font-size: 24px;
                    color: transparent;
                    line-height: 110%;
                    max-width: calc(100% - 26px);
                    @include responsive(md) {
                      font-size: 20px;
                    }
                    @include responsive(xs) {
                      font-size: 16px;
                    }
                  }
                  .large {
                    color: var(--black);
                    font-family: "Mukta";
                    font-size: 24px;
                    line-height: 110%;
                    border: 0px;
                    border-radius: 0;
                    margin: 0;
                    background-color: transparent;
                    border-bottom: 2px solid var(--black);
                    margin-left: 5px;
                    position: relative;
                    z-index: 1;
                    transition: 0s;
                    // &::-webkit-input-placeholder{
                    //   background-color: var(--green);
                    //   color: var(--black);
                    //   overflow: visible !important;
                    //   height: 20px;
                    //   position: absolute;
                    //   width: max-content;
                    //   visibility: visible !important;
                    //   display: inline !important;
                    // }
                    @include responsive(md) {
                      font-size: 20px;
                    }
                    @include responsive(xs) {
                      font-size: 16px;
                    }

                    &:focus{
                        box-shadow: none;
                    } 
                  }
                  .textarea {
                    min-block-size: unset;
                    resize: none;
                  }
                }
              }
            }
          }
          .gform_footer {
            justify-content: flex-end;
            margin-top: 30px;

            input[type="submit"] {
              border-radius: 0px;
              color: var(--black);
              font-family: "Neue-Bold";
              font-size: 24px;
              font-weight: 700;
              text-transform: uppercase;
              padding: 15px 30px;
              color: var(--black);
              border: 2px solid var(--green);
              background-color: var(--white);
              transition: all 0.4s ease;

              &:hover {
                background: var(--green);
              }

              @include responsive(md) {
                font-size: 20px;
              }
              @include responsive(sm) {
                font-size: 16px;
                padding: 10px 20px;
              }
              @include responsive(xs) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
