.cta{
    padding: 50px 40px;
    background: var(--white);

    @include responsive(sm){
        padding: 30px 20px;
    }

    .container{
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .heading{
            font-family: 'Neue-Black';
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;
            color: var(--black);

            @include responsive(lg){
                font-size: 44px;
            }
            @include responsive(md){
                font-size: 40px;       
            }
            @include responsive(sm){
                font-size: 36px;       
            }
            @include responsive(xs){
                font-size: 32px;       
            }
        }
        .content-wrap{
            background: $lightBlack;
            padding: 30px 30px 90px;
            display: flex;
            flex-direction: column;
            width: 70%;
            transform: translateX(200px);

            @include responsive(lg){
                transform: translateX(150px);
            }
            @include responsive(sm){
                transform: translateX(0px);
                width: 100%;
                padding: 20px 20px 65px;
            }

            .description{

                p{
                    font-family: 'Mukta';
                    font-size: 28px;
                    line-height: 110%;
                    margin-bottom: 30px;
                    color: $white;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    @include responsive(lg){
                        font-size: 24px;
                    }
                    @include responsive(md){
                        font-size: 20px;   
                    }
                    @include responsive(sm){
                        font-size: 18px;   
                    }
                    @include responsive(xs){
                        font-size: 16px;   
                    }
                }
            }
            .button-image-wrap{
                margin-top: 30px;
                align-self: center;
                position: relative;

                @include responsive(sm){
                    align-self: flex-start;
                }

                .button{
                    display: flex;
                    a{
                        font-family: 'Neue-Bold';
                        font-size: 24px;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 15px 30px;
                        color: var(--black);
                        border: 2px solid var(--green);
                        background: var(--white);
                        max-width: fit-content;
                        transition: all 0.4s ease;
                        align-self: center;
        
                        &:hover{
                            background: var(--green);
                        }
    
                        @include responsive(md){
                            font-size: 20px;
                        }
                        @include responsive(sm){
                            font-size: 16px;
                            padding: 10px 20px;
                        }
                        @include responsive(xs){
                            font-size: 14px;
                        }
                    }
                }
                .image-wrap{
                    width: 100%;
                    position: absolute;
                    bottom: -90px;
                    right: -190px;

                    @include responsive(md){
                        right: -170px;
                    }
                    @include responsive(sm){
                        bottom: -65px;
                        right: -130px;
                    }
                    @include responsive(xs){
                        right: -120px;
                    }
    
                    .image{
                        width: 100%;
                    }
                }
            }
        }

    }
}