.cta{
    padding: 50px 40px;
    .container{
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .heading{
            font-family: 'Neue-Black';
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .content-wrap{
            background-color: $lightBlack;
            padding: 30px 30px 90px;
            display: flex;
            flex-direction: column;
            width: 70%;
            transform: translateX(200px);

            .description{

                p{
                    font-family: 'Mukta';
                    font-size: 30px;
                    line-height: 110%;
                    margin-bottom: 30px;
                    color: $white;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .button-image-wrap{
                margin-top: 30px;
                align-self: center;
                position: relative;

                .button{
                    font-family: 'Neue-Bold';
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 15px 30px;
                    color: $black;
                    border: 2px solid $green;
                    background-color: $white;
                    max-width: fit-content;
                    transition: all 0.4s ease;
                    align-self: center;
    
                    &:hover{
                        background-color: $green;
                    }
                }
                .image-wrap{
                    width: 100%;
                    position: absolute;
                    bottom: -90px;
                    right: -170px;
    
                    .image{
                        width: 100%;
                    }
                }
            }
        }

    }
}